# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
.venv/
env/
venv/
ENV/
*.env

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/
*.ipynb_convert

# =========================================
# PyCharm / JetBrains
# =========================================
.idea/
*.iml

# =========================================
# macOS
# =========================================
.DS_Store
.AppleDouble
.LSOverride

# =========================================
# CSV/Datasets grandes
# =========================================
eventos_artigos_filtrados.csv
*.csv
*.tsv
*.xlsx

# =========================================
# Arquivos temporários
# =========================================
*.tmp
*.temp
*.swp
*~
